.env
env/
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.pt
*.h5
*.ckpt
*.sqlite3
*.db
.vscode/
.idea/
data
train-v0.4
val-v0.4
test_images-v0.4
train/ 
val/
templates/assets/images
UECFOOD100/
balanced.csv
new_data/
data_info.csv
data9.yaml
dataset109.yaml
multiple_data.csv
filtered_food_dataset.csv
test_data.csv
train_data.csv
val_data.csv
filtered_food_data_train.xlsx