# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environments
env/
venv/
.venv/

# Logs and temporary files
*.log
*.tmp

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Model and dataset files
*.pt
*.h5
*.ckpt
*.sqlite3
*.db

# IDE settings
.vscode/
.idea/

# Environment variables
.env
.vercel